.tareas-lista-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
h3 {
  color: #1b1b32;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.search {
  width: 300px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
}
.contenedorInput{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}